<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../../template/assets/images/favicon.png">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="../../template/assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <script src="../../template/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="../../template/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../template/assets/extra-libs/multicheck/multicheck.css">
    <link href="../../template/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    @*<link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />*@
    <link href="../../template/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <style>
        .error {
            color: red
        }
    </style>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand" href="@Url.Action("Index","Admin")">
                        <b class="logo-icon p-l-10">
                            <img src="../../template/assets/images/logo-icon.png" alt="homepage" class="light-logo" style="width:32px; height:30px" />
                        </b>
                        <span class="logo-text">
                            <img src="../../template/assets/images/logo-text.png" alt="homepage" class="light-logo" />

                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        @if (Session["userName"] != null && Convert.ToString(Session["userName"]) != "")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="../../template/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                                <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                    <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> Welcome @Session["userName"]</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("PasswordReset", "Accounts")"><i class="ti-lock m-r-5 m-l-5"></i> Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Accounts")"><i class="ti-power-off m-r-5 m-l-5"></i> Logout</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        
                        @if (!User.IsInRole("Hotel Staff"))
                        {
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index", "Admin")" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index", "Accounts")" aria-expanded="false"><i class="fas fa-key"></i><span class="hide-menu">Users</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index", "Hotels")" aria-expanded="false"><i class="mdi mdi-hospital-building"></i><span class="hide-menu">Hotels</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Guest", "Admin")" aria-expanded="false"><i class="mdi mdi-account-multiple-plus"></i><span class="hide-menu">Guests</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Capitals", "Admin")" aria-expanded="false"><i class="fas fa-list-alt"></i><span class="hide-menu">Capitals</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Districts", "Admin")" aria-expanded="false"><i class="fas fa-map"></i><span class="hide-menu">Districts</span></a></li>
                        }
                        else
                        {
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index", "Guests")" aria-expanded="false"><i class="mdi mdi-account-multiple-plus"></i><span class="hide-menu">Guests</span></a></li>
                        }
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <footer class="footer text-center">
                All Rights Reserved by Izone Solution. Designed and Developed by <a href="https://izonesolution.com/">https://izonesolution.com</a>.
            </footer>
        </div>
    </div>
    @*<script src="../../template/assets/libs/jquery/dist/jquery.min.js"></script>*@
    <script src="../../template/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../template/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../template/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../template/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="../../template/dist/js/waves.js"></script>
    <script src="../../template/dist/js/sidebarmenu.js"></script>
    <script src="../../template/dist/js/custom.min.js"></script>
    <script src="../../template/assets/libs/flot/excanvas.js"></script>
    <script src="../../template/assets/libs/flot/jquery.flot.js"></script>
    <script src="../../template/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="../../template/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="../../template/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="../../template/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="../../template/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="../../template/dist/js/pages/chart/chart-page-init.js"></script>
    @*<script src="../../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>*@
    <script src="../../template/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
    <script src="../../template/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="../../template/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../template/assets/libs/toastr/build/toastr.min.js"></script>
</body>
</html>
