@model IEnumerable<Immigration.ViewModel.GuestViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<form method="post" id="uForm">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Country</label>
                <div id="dropdownc">
                    <select class="select2 form-control custom-select select2-hidden-accessible" id="countryId" name="countryId">
                        <option value="0">Please Select Country</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">From Date</label>
                <div class="">
                    <input type="text" id="fromDate" autocomplete="off" name="fromDate" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">To Date</label>
                <div class="">
                    <input type="text" id="toDate" name="toDate" autocomplete="off" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label></label>
                <div>
                    <input type="submit" style="margin-top:8px;" id="btnSearch" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div style="width:89%; float:left;"><h4 class="card-title pull-left">Guest Info</h4></div>
        <div style="width:10%; float:right;"><a href="@Url.Action("Create","Guests")" class="btn btn-success pull-right">Create New</a></div>
        <div class="table-responsive">
            <table id="tbl_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.guestName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.guestNationality)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.passportNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.guestAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.inDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.outDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.assignedRoomNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.guestDocuments)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.guestName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.guestNationality)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.passportNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.guestAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.inDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.outDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.assignedRoomNumber)
                            </td>
                            <td>
                                @if (item.guestDocuments != null && item.guestDocuments != "")
                                {
                                    <img id="guestDocuments" name="guestDocuments" src="@Url.Content(item.guestDocuments)" height="40" width="40" />
                                }
                                else
                                {
                                    <img id="guestDocuments" name="guestDocuments" src="~/template/assets/images/users/noImage.jpg" height="40" width="40" />
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Edit","Guests",new { id = item.guestId })" id="btnEdit" class=""><span class="fas fa-edit text-warning"></span></a>
                                <a href="javascript:void(0)" id="btnDelete" onclick="DeleteConfirm(@item.guestId)" class=""><span class="fas fa-trash-alt text-danger"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.post("@Url.Action("LoadCountry", "Guests")",
            function (dd) {
                for (var i = 0; i < dd.length; i++) {
                    $('<option/>', {
                        value: dd[i].ID,
                        html: dd[i].CountryName
                    }).appendTo('#dropdownc select');
                }
            }
        );
        $("#fromDate").datepicker();
        $("#toDate").datepicker();
        $('#tbl_config').DataTable({
            "bFilter": false,
            "lengthChange": false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    text: '<span class="fas fa-print"> Print</span>',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    },
                    className: 'btn btn-success'
                }
            ]
        });
    });
    function DeleteConfirm(id) {
        swal({
            title: "Are you sure?",
            text: "Hotel info will be removed permanently..!!!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                var Id = id;
                $.ajax({
                    type: "POST",
                    url: "/Guests/Delete?id=" + Id,
                    success: function () {
                        swal({
                            icon: "success",
                            title: "successfully deleted"
                        })
                            .then((confirm) => {
                                if (confirm == true) {
                                    location.reload();
                                }
                            });
                    }
                });

            } else {
                swal("Your data is safe!");
            }
        });
    };
</script>
